@model IEnumerable<Quiz_Application.Services.Entities.Exam>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Exam List";
    var userType = Context.Session.GetString("UserType").ToString(); 
}

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        @if (userType == "Admin")
        {
            <div style="text-align:right">
                <a class="w3-button w3-white w3-border w3-border-green w3-round-large" asp-action="AddExam" asp-controller="Exam" style="text-align:right; margin:10px 0px">Add Exam</a>
            </div>
        }

        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total Marks</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.FullMarks</td>
                        <td>@item.Duration</td>
                        <td>
                            @if (userType == "Admin")
                            {
                                <a class="w3-button w3-white w3-border w3-border-red w3-round-large" asp-action="DeleteConfirm" asp-controller="Exam" asp-route-id="@item.ExamID" asp- style="text-align:right; margin:10px 0px">Delete</a>
                                <a class="w3-button w3-white w3-border w3-border-blue w3-round-large" asp-action="UpdateExam" asp-controller="Exam" asp-route-id="@item.ExamID" asp- style="text-align:right; margin:10px 0px">Update</a>
                            }
                            <a class="w3-button w3-white w3-border w3-border-green w3-round-large" asp-action="WatchTutorial" asp-controller="Exam" asp-route-id="@item.ExamID" title="Watch Tutorial">Watch Tutorial</a>
                            <a class="w3-button w3-white w3-border w3-border-orange w3-round-large" asp-action="Details" asp-controller="Exam" asp-route-id="@item.ExamID" title="Find out more">Study</a><br />
                        </td>
                    </tr>}

            </tbody>
        </table>
    </div>
    <!-- End Page Container -->
</div>
<br />